/* цвета для текста */
$basic-color: #212121;
$second-basic: #ffffff;
$accent-color: #2196f3;
$logo-color: #000000;
$description-color: #757575;
$footer-contact-color: rgba(255, 255, 255, 0.6);
/*цвета для фона*/
$main-color: #ffffff;
$hero-footer-section-background: #2f303a;
$team-section-background: #f5f4fa;
$benefits-background-icon: #f5f4fa;
$hero-bacrground: #c4c4c4;
$backdrob-modal: rgba(0, 0, 0, 0.2);
$background-portfolio-card: rgba(33, 150, 243, 0.9);
$products__desc-background: rgba(47, 48, 58, 0.8);
/* цвет рамки карточек работ */
$border-header: #ececec;
$work-card-frame: #eeeeee;
/* цвет иконок */
$basic-icon: #afb1b8;
$second-icon: #ffffff;
// цвет рамки close-button-modal
// $close-button-modal:rgba(0, 0, 0, 0.1);

/* для ширин вьюпорта */
$mobile: 480px;
$mobile-max: 767px;
$tablet: 768px;
$tablet-max: 1199px;
$desktop: 1200px;
$desktop-max: 1199px;
