.list-socseti {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &__box-icon-socseti {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__box-icon-socseti:hover,
  &__box-icon-socseti:focus {
    background-color: $accent-color;
  }
  &__link:hover .icon-socseti,
  &__link:focus .icon-socseti {
    fill: $main-color;
  }
}

.icon-socseti {
  fill: $basic-icon;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
